.DS_Store
.env
.vscode/*
!.vscode/launch.json
Lorcana
SoulMasters
SoulMastersSim
RBSim
/RBDeck
Data/RB.json
vendor
HostFiles/
SWUDeck/concat
SWUDeck/crops
SWUDeck/Games
SWUDeck/GeneratedCode
SWUDeck/TempImages
SWUDeck/WebpImages
SWUDeck/UnimplementedCards
SWUDeck/GamestateParser.php
SWUDeck/GeneratedUI*.js
SWUDeck/GetNextTurn.php
SWUDeck/InitialLayout.php
SWUDeck/NextTurnRender.php
SWUDeck/ZoneAccessors.php
SWUDeck/ZoneClasses.php
SoulMastersDB/concat
SoulMastersDB/crops
SoulMastersDB/Games
SoulMastersDB/GeneratedCode
SoulMastersDB/TempImages
SoulMastersDB/WebpImages
SoulMastersDB/GamestateParser.php
SoulMastersDB/GeneratedUI*.js
SoulMastersDB/GetNextTurn.php
SoulMastersDB/InitialLayout.php
SoulMastersDB/NextTurnRender.php
SoulMastersDB/ZoneAccessors.php
SoulMastersDB/ZoneClasses.php
SoulMastersSim/Games
SoulMastersSim/Games/GameIDCounter.txt
APIKeys/APIKeys.php
SWUDeck/jpg
SoulMastersSim/Games/GameIDCounter.txt
SoulMastersSim/Games/GameIDCounter.txt
SWUCardList/concat
SWUCardList/GeneratedCode
SWUCardList/GamestateParser.php
SWUCardList/GeneratedUI*.js
SWUCardList/GetNextTurn.php
SWUCardList/InitialLayout.php
SWUCardList/NextTurnRender.php
SWUCardList/ZoneAccessors.php
SWUCardList/ZoneClasses.php
SWUCardList/Games
GudnakSim/WebpImages
GudnakSim/crops
GudnakSim/concat
GudnakSim/GeneratedCode
GudnakSim/GamestateParser.php
GudnakSim/GeneratedUI*.js
GudnakSim/GetNextTurn.php
GudnakSim/InitialLayout.php
GudnakSim/NextTurnRender.php
GudnakSim/ZoneAccessors.php
GudnakSim/ZoneClasses.php
GudnakSim/TurnStates.php
GudnakSim/TurnController.php
GudnakSim/Games
GrandArchiveSim/concat
GrandArchiveSim/crops
GrandArchiveSim/Games
GrandArchiveSim/GeneratedCode
GrandArchiveSim/TempImages
GrandArchiveSim/WebpImages
GrandArchiveSim/GamestateParser.php
GrandArchiveSim/GeneratedUI*.js
GrandArchiveSim/GetNextTurn.php
GrandArchiveSim/InitialLayout.php
GrandArchiveSim/NextTurnRender.php
GrandArchiveSim/ZoneAccessors.php
GrandArchiveSim/ZoneClasses.php