<div class="disclaimer">
    <p>{{disclaimerLead}} {{tcgName}} characters, cards, logos, and art are property of {{assetOwner}}.
        &nbsp;
        <a href="/TCGEngine/SharedUI/TermsOfUse.php">Terms of Use</a>
        &nbsp;
        <a href="/TCGEngine/SharedUI/PrivacyPolicy.php">Privacy Policy</a>
    </p>
</div>
