<div class="disclaimer">
    <p>{{appName}} is in no way affiliated with {{ipOwner}}. {{tcgName}} characters, cards, logos, and art are property of {{ipOwner}}.
        &nbsp;
        <a href="/TCGEngine/SharedUI/TermsOfUse.php">Terms of Use</a>
        &nbsp;
        <a href="/TCGEngine/SharedUI/PrivacyPolicy.php">Privacy Policy</a>
    </p>
</div>